<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azurefunction007.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c251637-d47b-4648-85a7-30dc70bbde84/resourceGroups/CosmosDBSearch/providers/Microsoft.Web/sites/azurefunction007</ResourceId>
    <UserName>$azurefunction007</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunction007.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>